.background {
    background-color: #28293E;
}

.log {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100px; /* Увеличиваем ширину логотипа */
    height: 120px; /* Увеличиваем высоту логотипа */
    font-weight: bold;
    margin-top: 50px;
    margin-left: 30px;
}


.frame {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.pngemail {
    width: 30px;
    height: 30px;
}


.text_style_log{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: -1px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 150px;
    margin-top: -55px;
}

.container1{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin-left: 1100px;  
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-between;
    margin-top: -110px;
}

.about{
    width: 58px;
    height: 20px;
    font-family: 'Euclid Circular A';
    font-style: bold;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: #FCFCFF;
    margin-right: 75px;
}

.services{
    width: 79px;
    height: 20px;
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: #FCFCFF;
    margin-right: 75px;
}

.product{
    width: 73px;
    height: 20px;
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: #FCFCFF;
    margin-right: 75px;
}

.button{
    align-items: center;
    padding: 17.5px 40.5px;
    gap: 10px;  
    width: 136px;
    height: 55px;
    top: 45px;
    background: #FF3366;
    border-radius: 7px;
    transition: 0.3s;
    margin-right: 25px;
}

.button:hover {
    transform: scale(1.2);
}

.txt_button{
    width: 55px;
    height: 20px;
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 650;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: #FCFCFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    align-items: center;
    margin-left: 31%;
}

.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 626px;
    height: 324px;
    margin-left: -150px;
    margin-top: 150px;
}

.large_text {
    width: 626px;
    height: 240px;
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 500;
    font-size: 82px;
    line-height: 80px;
    letter-spacing: -4px;
    color: #FCFCFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: auto; 
}

.subtext {
    width: 443px;
    height: 60px;
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;
    color: #D5D5D6;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: auto; 
}


.text_field {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}